* {
    padding: 0;
    margin: 0;
}

/******************************************************************/
/* CUSTOM PROPERTIES 
/******************************************************************/

@font-face {
    font-family: "MontserratBold";
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
  }

  @font-face {
    font-family: "MontserratSemiBold";
    src: url(../fonts/Montserrat/static/Montserrat-SemiBold.ttf);
  }

  @font-face {
    font-family: "MontserratMedium";
    src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
  }

  @font-face {
    font-family: "MontserratRegular";
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
  }

:root{
    /* H1 */
    --FFBold: "MontserratBold";
    --H1FS: 2rem;
    
    /* H2 */
    --H2FS: 1.3rem;
    --FFMedium: "MontserratMedium";

    /* H3 */
    --H3FS: 1.1rem;
    

    /* P*/
    --PFS: 0.9rem;
    --FFRegular: "MontserratRegular";

    /* H4 */
    --H4FS: 0.7rem;
    
    /* Buttons */
    --ButtonFS: 0.9rem;
    --FFSemiBold: "MontserratSemiBold";

    --Grey: rgba(245, 245, 245, 1);
    --White: rgba(255, 255, 255, 1);
    --Orange: rgba(251, 164, 29, 1);
    --Brown: rgba(78, 53, 53, 1);
}

h1, h2, h3, h4, p{
    color: var(--Brown);
}

h1{
    font-family: var(--FFBold);
    font-size: var(--H1FS);
}

h2{
    font-family: var(--FFBold);
    font-size: var(--H2FS);
    line-height: 1.7rem; 
    color: var(--Brown);
}

h3{
    font-size: var(--H3FS); 
    font-family: var(--FFRegular);
    line-height: 1.5rem;
}

.footer-top h3{
    color: var(--White);
    font-family: var(--FFMedium);
    letter-spacing: 0.1rem;
}

.footer-top p{
    color: var(--White);
    letter-spacing: 0.1rem;
  
}

.footer-bottom h4,
.footer-bottom a{
    font-size: var(--H4FS); 
    font-family: var(--FFRegular);
    text-decoration: none;
    color: var(--White);
    letter-spacing: 0rem;
}


p{
    font-family: var(--FFRegular);
    font-size: var(--PFS); 
    line-height: 1.5rem;
}

.atf a, 
.intro a,
.facilities a,
.blogs > a,
.contact a:first-of-type
{
    background-color: var(--Orange);
    color: var(--White);
    border-radius: 100rem;
    display: inline-block;
    padding: 1rem 2.5rem;
    width: fit-content;
    font-family: var(--FFSemiBold);
    font-size: var(--ButtonFS);
    text-decoration: none;
}

img{
    border-radius: 1em;
}



/******************************************************************/
/* Header
/******************************************************************/

header{
    position: fixed;
    height: 6rem;
    padding: 0 3rem;
    width: 100%;
    
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(93, 165, 165);
   
    z-index: 1000;
}

/* Logo de Klok*/
header a:first-child img{
    width: 15rem;
 
   
}



/* Hamburger*/
header a:nth-child(2) img{
  
    width: 1.5rem;
    border-radius: 0;
   
}

/******************************************************************/
/* Above the fold
/******************************************************************/

/* background*/
.atf{
    background-image: url("../images/home/atf.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
}

/* Titel + subtitel groep */
.atf section:first-child{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    gap: 1rem;
    padding: 3rem;
    text-align: center;
}


/* subtitel */
.atf section h2{
    width: 80%;
    font-family: var(--FFMedium);
    font-size: var(--H2FS); 
}


/******************************************************************/
/* Intro text
/******************************************************************/

.intro{
    background-color: var(--Grey);
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem 6rem 3rem;
}

/* Titel, bodytekst, button */
.intro section:first-child {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Titel */
.intro section:first-child h2{
    width: 80%;
}

/* Image */
.intro img{
   width: calc(100vw - 6rem);
   margin-top:  3rem
}

/******************************************************************/
/* img-row
/******************************************************************/


.img-row{
    display: flex;
}

.img-row img{
    display: flex;
}




/******************************************************************/
/* facilities
/******************************************************************/


.facilities{
    padding: 5rem 3rem 5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.facilities ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em
}

/* kan ik beter een padding geven om de hoogte te bepalen of height? */ 
.facilities ul li{
    width: 100%;
    height: 6rem;  
    padding-left: 2rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: row;  
    background-color: var(--Grey);
    border-radius: 1rem;
    align-items: center;
    
}

/* Icon */
.facilities ul li img{
    width: 1.8rem;
    border-radius: 0;
 }

 /* Text Bold */
 .facilities ul li span{
    font-family: var(--FFBold);
 }


  /* 4de facility */
 .facilities ul li:nth-of-type(4) h3{
    width: 65%;
    overflow-wrap: break-word;
 }

 /* Button */
 .facilities a{
    margin-left: auto;
    margin-right: auto;
 }

 /******************************************************************/
/* Reviews
/******************************************************************/

.reviews h2{
padding: 3rem;
width: 60%;
}

.reviews h2 span{
    font-family: var(--FFRegular);
}

.reviews{
    background-image: url("../images/home/atf.png");
}

.go4269172405{
    display: none;
    background-color: brown;
}

 /******************************************************************/
/* Blogs - Deze section kan vgm makkelijker qua code?
/******************************************************************/
.blogs{
    padding: 3rem;
}

 /* Blog01 */
.blogs section{
    display: flex; 
    flex-direction: column;
    border-radius: 1rem;
    background-color: var(--Grey);
    gap: 0.5rem;
    padding-bottom: 2rem;
    margin: 2rem 0em;
}

.blogs img{
    border-radius: 1rem 1rem 0 0;
    height: 10rem;
    object-fit: cover;
    margin-bottom: 1rem;
 }

 /* Titel blogs */
 .blogs span{
    font-family: var(--FFRegular);
    display: block;
 }


/* Teksten */
 .blogs h3,
 .blogs p,
 .blogs section a{
    padding: 0 2rem;
 }

/* Extra space na titel blog + na tekst */
 .blogs h3, 
 .blogs p:nth-of-type(2){
    padding-bottom: 1rem;
 }

/* Titel */
.blogs h3,
.blogs h3 span{
    font-family: var(--FFBold);
}

.blogs h3 span{
    display: block;
}

 /******************************************************************/
/* Contact
/******************************************************************/
.contact{
    overflow-x: hidden;
    background-color: var(--Grey);
}

.contact{
    display: flex;
    flex-direction: column;
   
    gap: 1.5rem;
    padding: 3rem;
}

.contact p{
    margin-bottom: 2rem;
    width: 65%;
}

.contact img{
    width: 13rem;
    mix-blend-mode: darken;
}


 /******************************************************************/
/* Footer
/******************************************************************/

footer{
    background-color:var(--Brown);
}



/* Bezoek + contact + kvk + socials + betalen */
.footer-top{
    padding: 3rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}



/* Bezoek + contact + kvk*/
.footer-top section:first-of-type ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


/* space between bezoekadres + contact*/
.footer-top section:first-of-type ul li:nth-of-type(2),
.footer-top section:first-of-type ul li:nth-of-type(4){
    margin-bottom: 2rem;
}

/* space between h3 + li*/
.footer-top section:first-of-type ul h3{
    margin-bottom: 0.5rem;
}


/* Socials /******************************************************************/

/* Socials title */
.footer-top section:nth-of-type(2) h3{
    margin-bottom: 0.5rem;
}

/* groep */
.footer-top section:nth-of-type(2) ul:first-of-type{
    display: flex;  
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    margin-bottom: 2rem;
}

/* White circle */
.footer-top section:nth-of-type(2) ul:first-of-type li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--White);
}

/* Icon */
.footer-top section:nth-of-type(2) ul:first-of-type li a img{
    border-radius: 0;
    width: 1.5rem;
    display: block; 
}

/* Betalen /******************************************************************/

.footer-top section:nth-of-type(2) ul:nth-of-type(2){
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.5rem;
    width: 80%;

}

/* Icons bank */
.footer-top section:nth-of-type(2) ul:nth-of-type(2) li img{
    width: 3rem;
    border-radius: 0;
    display: block; 
    margin: 0 auto; 
}

 /******************************************************************/
/* Footer-Bottom
/******************************************************************/



.footer-bottom ul{
    padding: 3rem 3rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around
}

.footer-bottom ul li:nth-of-type(6){
    margin-top: 0.5rem;
}

